img {
    width: 30%;
    object-fit: contain;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.text {
    overflow-y: scroll;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    font-size: 18px;
    line-height: 26px;
}

body {
    margin: 0;
}
